<label for="factory-select">Factory list</label>
<select data-ui-select2 id="factory-select" class="input-large" data-ng-model="factory">

    <option data-ng-repeat="fact in factories" value="{{fact.id}}">{{fact.name}} {{fact.race}}</option>
</select>
<button data-ng-click="AddFactoryToComplex(factory)" class="btn"><i class="icon-plus"></i></button>


<h3>Complex List</h3>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Race</th>
        <th>Amount</th>
        <th>Remove</th>
    </tr>
    <tr data-ng-repeat="factory in complex">
        <td>{{factory.name}}</td>
        <td>{{factory.race}}</td>
        <td>{{factory.amount}}</td>
        <td>
            <button class="btn" data-ng-click="RemoveFactoryFromComplex(factory)"><i class="icon-minus"></i></button>
        </td>
    </tr>
</table>
{{CaculateComplexProduct()}}
